@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

.doto-font {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "ROND" 0;
}

@theme {
  --font-sans: "Inter", "system-ui", sans-serif;
  --color-brand-black: #121212;
  --color-brand-gray: #1e1e1e;
}

body {
  @apply bg-brand-black text-white font-sans;
  -webkit-font-smoothing: antialiased;
}

.container {
  @apply mt-12 p-1 rounded-2xl bg-gradient-to-b from-indigo-500/20 to-transparent;
}

@media (pointer: coarse) {
  /* Hides scrollbar for Chrome, Safari and Opera on touch screens */
  .touch-no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hides scrollbar for IE, Edge and Firefox on touch screens */
  .touch-no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
