@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", sans-serif;
  --color-brand-black: #121212;
  --color-brand-gray: #1e1e1e;
}

body {
  @apply bg-brand-black text-white font-sans;
  -webkit-font-smoothing: antialiased;
}

.container {
  @apply mt-12 p-1 rounded-2xl bg-gradient-to-b from-indigo-500/20 to-transparent;
}
